.dark-primary-color    { background: #34465d; }
.accent-color          { background: #FF5722; }

html {
  font-family: 'nanami-book', sans-serif;
  height: 100%;
}

body {
  background-color: #34465d;
  color: #ededed;
  height: 100%;
}


.brand-logo {
  margin-left: 5px;
}

.caption.center-align {
  background: white;
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
}

iframe, object, embed {
  max-width: 100%;
}

.wrapper         {width:80%;height:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.side-nav a {
    color: #ededed;
    display: block;
    font-size: 2rem;
    height: 75px;
    line-height: 64px;
    padding: 0 15px;
}

.side-nav {
    position: fixed;
    width: 240px;
    left: -105%;
    top: 0;
    margin: 0;
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #34465d;
    z-index: 999;
    overflow-y: auto;
    will-change: left;
}

nav ul a:hover {
    background-color: rgba(179, 179, 179, 0.86);
    /*color: #616161;*/
}
