.dark-primary-color    { background: #2980b9; }
.default-primary-color { background: #0071b0; }
.light-primary-color   { background: #65b9e3; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5722; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #FF5722; }

html {
  font-family: 'nanami-book', sans-serif;
  height: 100%;
}

body {
  background-color: #2980b9;
  color: white;
  height: 100%;
}


.brand-logo {
  margin-left: 5px;
}

.brand-logo:hover {
  color: #003d60;
}

.caption.center-align {
  background: white;
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 70%);
}

iframe, object, embed {
  max-width: 100%;
}

.wrapper         {width:80%;height:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}
